.logocss{
  border-radius:25px;
}

body{
    background-color: #CF957D;
    height: auto;
    margin: 0; 
Font-family: helvetica;
Font-size: 12px; 
}

table{
    width: 1000px;
    margin-left: 150px;
    margin-top: 45px;
}

/* Page content */


.content {
  padding: 16px;
}


ul {
  display: inline-block;
  *display: inline;
  zoom: 1
}


/* Zoom on Hover : https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
* {
    box-sizing: border-box;
  }
  .zoom {
    transition: transform .2s;
    width: 257px;
    height: 260px;
    margin: 0 auto;
    background-image: url("img/profilehtml.png");
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

P {font-family: helvetica; font-size: 12px; }


	h4 {font-family: optima; font-size: 15px; }

	

	ul1, ul2, td5  {font-family: Didot; font-size: 15px }

	
	td1  {font-family: didot; font-size: 12px }

	 td4  {font-family: didot; font-size: 15px }
	
	h5, h6 {font-family: optima; font-size: 15px; }

	td2 {font-family: didot; font-size: 12px;}
	h3 {font-family: didot; font-size: 16px; }

	h3, td1, ul1, h4, td5, ul2 {text-align: center; }

	td7, td8 {font-family: didot; font-size: 17px;}
	td7 {text-align: center; }
	
	td8 {font-family: Palatino; font-size: 20px; font-stretch: expanded; text-align: center; }

Table {outline-style: solid;}


